<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="center">
  <!--<input type="checkbox" id="show">
  <label for="show" class="show-btn">View Form</label>-->
  <div class="container">
    <!--<label for="show" class="close-btn fas fa-times" title="close"></label>-->
    <div class="text">Crear un nuevo grupo de trabajo</div>
    <div>
      <form action="#">
        <div class="data">
          <label>Nombre</label>
          <input type="text" required>
        </div>
        <div class="data">
          <label>Integrantes</label>
          <input type="text" required>
        </div>
        <div class="data">
          <label>Descripción</label>
          <input type="text" required>
        </div>
        <div class="btn">
          <div class="inner">
          </div>
          <button type="submit">Crear</button>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>
