<nav class="menu">
  <div>
    <span class="btn_menu" id="btn1">
        <i class="bi bi-list"></i>
    </span>
    <label class="logo"><i class="bi bi-person-circle"></i>Grupo de trabajo</label>

  </div>

  <ul class="menu_items">
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Contáctanos</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Registrate</a></li>
  </ul>
  <label class="settings"><i class="bi bi-gear-fill"></i><img src="assets/user.png" alt="user"></label>

</nav>

<router-outlet></router-outlet>
