<body>
<!--asa-->
<div class="container">

  <div class="pendientes">
    <h3>Tareas pendientes</h3>
    <div  *ngFor="let lista of tareas">
      <mat-card class="example-card" *ngIf="lista.process_work =='pendiente'">
        <mat-card-title>{{lista.id_work}}</mat-card-title>
        <button ng-click="delete(lista.id_work)">Borrar</button>
        <mat-card-subtitle>{{lista.enddate_work}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{lista.description_work}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{lista.priority_work}}</button>
          <button mat-button>{{lista.process_work}}</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
  <div class="encurso">
    <h3>En curso</h3>
    <div  *ngFor="let lista of tareas">
      <mat-card class="example-card" *ngIf="lista.process_work =='encurso'">
        <mat-card-title>{{lista.name_work}}</mat-card-title>
        <mat-card-subtitle>{{lista.enddate_work}}</mat-card-subtitle>
        <button (click)="delete(lista.id_work)">borrar</button>
        <mat-card-content>
          <p>{{lista.description_work}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{lista.priority_work}}</button>
          <button mat-button>{{lista.process_work}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="terminados">
    <h3>Trabajos terminados</h3>
    <div  *ngFor="let lista of tareas">
      <mat-card class="example-card" *ngIf="lista.process_work =='finalizado'">
        <mat-card-title>{{lista.name_work}}</mat-card-title>
        <mat-card-subtitle>{{lista.enddate_work}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{lista.description_work}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{lista.priority_work}}</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</body>
