body{
  background: #F5F5F5;
}

.container{
  margin: 100px;
  justify-items: center;
  display: inline-flex;
  flex-direction: inherit;
}

h3{
  margin-top: 30px;
}

mat-card{
  width: 300px;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
}

mat-card-header{
  text-align: left;
  display: flex;

}

.pendientes{
  margin: 30px;
}

.encurso{
  margin: 30px;
}

.terminados{
  margin: 30px;
}
