<body>
<!-- ========================= contact-section start ========================= -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="contact-item-wrapper">
          <div class="row">
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="bi bi-envelope"></i>
                </div>
                <div class="contact-content">
                  <h4>Contact</h4>
                  <p>0984537278623</p>
                  <p>yourmail@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="bi bi-geo-alt-fill"></i>
                </div>
                <div class="contact-content">
                  <h4>Address</h4>
                  <p>175 5th Ave, New York, NY 10010</p>
                  <p>United States</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="bi bi-clock"></i>
                </div>
                <div class="contact-content">
                  <h4>Schedule</h4>
                  <p>24 Hours / 7 Days Open</p>
                  <p>Office time: 10 AM - 5:30 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <img src="/assets/contact-us.png" alt="contact">
      </div>
    </div>
  </div>
</section>
<!-- ========================= contact-section end ========================= -->

</body>
