<app-header></app-header>

<body>
<section class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-image-five">
          <img src="assets/about-person(1).png" alt="about" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="about-five-content">
          <h2 class="main-title fw-bold">Una forma de gestionar tareas y proyectos de equipo</h2>
          <div class="about-five-tab">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                <p>Reúne todo el trabajo del equipo en un espacio compartido. Mantén el trabajo de tus proyecto al alcance de tu mano</p>
                <p>Con las listas, los equipos pueden ver inmediatamente lo que necesitan hacer, qué tareas son prioritarias y
                  cuándo son las fechas de entrega de los trabajos.
                  Visualiza rápidamente en qué estado se encuentra el trabajo, identifica los próximos pasos y
                  toma acciones concretas para mantenerte al día con tus tareas.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>

</body>
