<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="center">
  <!--<input type="checkbox" id="show">
  <label for="show" class="show-btn">View Form</label>-->
  <div class="container">
    <!--<label for="show" class="close-btn fas fa-times" title="close"></label>-->
    <div class="text">Bienvenido</div>
    <div id="mensaje"><p>Ingresa tus credenciales para iniciar sesión</p></div>
    <form action="#">
      <div class="data">
        <input type="email" placeholder="Ingresa tu usuario" required>
      </div>
      <div class="data">
        <input type="password" placeholder="Contraseña" required>
      </div>
      <div class="btn">
        <div class="inner">
        </div>
        <button type="submit">Iniciar sesión</button>
      </div>
    </form>
    <div class="signup-link">¿No tienes cuenta? <a href="register">Registrate</a></div>
  </div>

</div>
</body>
</html>
