<body>

<!--====== NAVBAR NINE PART START ======-->


<!--====== ABOUT FIVE PART ENDS ======-->

<!-- ===== service-area start ===== -->
<section id="services" class="services-area services-eight">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Servicios</h6>
            <h2 class="fw-bold">Nuestros servicios</h2>
            <p>
              Admin.io ofrece sus servicios para ayudar a los usuarios a construir sus propios
              grupos de trabajo y administrarlos
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="service-icon">
            <i class="bi bi-briefcase-fill"></i>
          </div>
          <div class="service-content">
            <h4>Asesoría</h4>
            <p>
              Ayudanos a los usuarios a diseñar y administrar sus grupos de trabajo, enseñandoles a usar Admin.io
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="service-icon">
            <i class="bi bi-collection"></i>
          </div>
          <div class="service-content">
            <h4>Grupos de trabajo</h4>
            <p>
              Creamos grupos de trabajo, y agregamos administradores para cada equipo
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="service-icon">
            <i class="bi bi-laptop"></i>
          </div>
          <div class="service-content">
            <h4>Formación</h4>
            <p>
              Ofrecemos capacitación sobre temas de interés relativos a Admin.io. Estamos a tu disposición para resolver cualquier tipo de pregunta.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ===== service-area end ===== -->

</body>
