<app-header></app-header>
<div class="content" role="main">
  <!-- Resources -->
  <div class="textos">
    <h2>Crea y administra <h2 id="azul">grupos de trabajo</h2>de manera sencilla</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam temporibus nobis magni error itaque explicabo,
    blanditiis aliquam neque a dignissimos! Enim voluptate at eos delectus quis officia voluptatem! Consequuntur voluptatem
    explicabo modi recusandae aliquid voluptate hic rerum dolorum non optio?</p>
    <button>Entrar</button>
  </div>
  <div class="imagen">
    <img src="/assets/circlePerson.svg">
  </div>
</div>