<div class="content" role="main">
  <!-- Resources -->
  <div class="textos">
    <h2>Crea y administra <h2 id="azul">grupos de trabajo</h2>de manera sencilla</h2>
    <p>Colabore, gestione proyectos y alcance nuevos picos de productividad.
      Trabajar de manera fluida y visible es muy sencillo con <strong>Admin.io</strong>, una app perfecta
      para planificar proyectos en equipo.</p>
    <button routerLink="login">Entrar</button>
  </div>
  <div class="imagen">
    <img src="/assets/circlePerson.svg" alt="circle">
  </div>
</div>
