<nav class="menu">
  <div>
    <span class="btn_menu" id="btn1">
        <i class="fa fa-bars"><mat-icon>reorder</mat-icon></i>
    </span>
    <label class="logo"><mat-icon>supervised_user_circle</mat-icon>Grupo de trabajo</label>

  </div>

  <ul class="menu_items">
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Contáctanos</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Registrate</a></li>
  </ul>
  <label class="settings"><mat-icon>settings</mat-icon><img src="assets/user.png"></label>

</nav>
